@font-face {
  font-family: "Quadrat";
  src: local("Quadrat"), url(./fonts/3A6A23_0_0.ttf), format("ttf");
  src: local("MyFont"), url(./fonts/3A6A23_0_0.woff) format("woff");
}



.App {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centerForm {
  margin: auto;
}

article {
  margin: auto;
  min-width: 20rem;
  max-width: 60rem;
}

.exhibition {
  /* this is for the artworks viewport on exhibition show page */
}

#closeWindowButton {
  position: absolute;
  border: none;
  font-size: 2rem;
  background-color: inherit;
  color: inherit;
}

.search {
  color: #fff;
  height: 100vh;
  width: 100vw;
  background-color: #B55E49;
  display: flex;
}

@media (max-width: 50rem) {

}

.artwork-card {
  width: 40rem;
}

.artwork-show-content-tag {
  background-color: inherit;
  border: 1px solid #ccc;
  margin: 2px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
}

.search input[type="text"], .signin input[type="text"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #fff;
}

.search ::placeholder {
  font-family: 'Roboto Mono', monospace;
  color: #999;
}

.signin {
  color: #fff;
  height: 100vh;
  width: 100vw;
  background-color: #271AC0;
  display: flex;
}

.signin a {
  color: #fff;
}

.signup {
  height: 100vh;
  width: 100vw;
  background-color: #FCBA03;
  display: flex;
}

.signup a {
  color: #000
}

nav {
  background-color: inherit;
  position: sticky;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

nav .nav-link {
  background-color: #ccc;
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 10px 20px;
  font-size: 0.7rem;
}

h1#logo {
  font-family: "Quadrat", serif;
  font-size: 3rem;
}

.artwork-card a {
  font-weight: 900;
  text-decoration: none;
  color: #000;
}

span.tag {
  border: 1px solid #ccc;
  color: #ccc;
}

span.tag-selected {
  border: 1px solid #ccc;
  background: #ccc;
  color: white;
}

img.responsive {
  min-width: 95%;
  max-width: 95%;
  /* for media queries... */
  /* max-width: 50rem; */
}

.hero {
  font-family: "Quadrat", serif;
  font-size: 4rem;
  color: white;
  margin: auto;
}

.home-panels {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}


.home-panel-1 {
  background-image: url("/images/NamJunePaik_TVGarden1974-1977_Courtesy-Kunstsammlung_Nordrhein-Westfalen_Dusseldorf.jpg")
}

.home-panel-3 {
  background-image: url("/images/TaubaAuerbach_ContemporaryArtDaily.jpg");
}

/* input[type="email"] {
  border-bottom: 1px solid black;
} */

input[type="password"], input[type="email"], input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

input[type="submit"] {
  background-color: #ccc;
  border-style: solid;
}

select {
  border-style: solid;
  border: 1px solid black;
}

button.removeArtwork {
  background-color:beige;
}

button.likeExhibition {
  background-color:beige;
}

button.danger {
  background-color: crimson;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: #ddd;
}

footer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  bottom: 0;
  color: #fff;
  background-color: #271AC0;
}