@font-face {
  font-family: "Quadrat";
  src: local("Quadrat"), url(./fonts/3A6A23_0_0.ttf), format("ttf");
  src: local("MyFont"), url(./fonts/3A6A23_0_0.woff) format("woff");
}


.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centerForm {
  margin: auto;
  line-height: 1.5;
}

article {
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 2rem;
  max-width: 900px;
  min-width: 300px; 
}



#error-handle {
  height: 30px;
}

article a {
  color: black;
}

hr {
  border: 3px solid black;
}



#closeWindowButton {
  position: absolute;
  right: 0;
  font-weight: 900;
  border: none;
  font-size: 2rem;
  background-color: inherit;
  color: inherit;
}

.search {
  color: #fff;
  height: 100vh;
  width: 100vw;
  background-color: #B55E49;
  display: flex;
}


.artwork-card {
  max-width: 800px;
  margin: auto;
}

select {
  border: 1px solid #000;
}

.artwork-show-content-tag {
  background-color: inherit;
  border: 2px solid #B55E49;
  font-weight: 900;
  color: #B55E49;
  margin: 2px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
}

.search input[type="text"], .signin input[type="text"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #fff;
  border-bottom: 2px solid white;
}

.search ::placeholder {
  font-family: 'Roboto Mono', monospace;
  color: #999;
}

.search input[type="submit"] {
  background-color: inherit;
  border: 2px solid white;
  margin: 5px;
  color: #fff;
}

.signin {
  color: #fff;
  height: 100vh;
  width: 100vw;
  background-color: #271AC0;
  display: flex;
}

.signin a {
  color: #fff;
}

.signup {
  height: 100vh;
  width: 100vw;
  background-color: #FCBA03;
  display: flex;
}

.signup a {
  color: #000
}

nav {
  position: fixed;
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  background-color: white;
  opacity: 50%;
}

.inner-nav {
  margin: auto;
}

nav a {
  color: #000;
  text-decoration: none;
  mix-blend-mode: exclusion;
}

nav .nav-link {
  display: block;
  float: left;
  background-color: #ccc;
  border: 2px solid #ccc;
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 10px 20px;
  font-size: 0.7rem;
}

nav .active {
  background-color: inherit;
  border: 2px solid #ccc;
  color: #ccc;
}

h1#nav-logo {
  font-family: "Quadrat", serif;
  font-size: 1.5rem;
}


h1#logo {
  font-family: "Quadrat", serif;
  font-size: 3rem;
}

h2#logo {
  font-family: "Quadrat", serif;
  font-size: 1.5rem;
}

.artwork-card a {
  font-weight: 900;
  text-decoration: none;
  color: #000;
}

.art-tags {
  display: inline-flex;
  flex-wrap: wrap;
}

label.tag {
  white-space: break-spaces;
  border: 1px solid #ccc;
  color: #ccc;
  margin: 2px;
  line-height: 1.5;
  font-size: 0.8rem;
}

label.tag-selected {
  border: 1px solid #ccc;
  background: #ccc;
  color: white;
  margin: 2px;
  line-height: 1.5;
  font-size: 0.8rem;
}

img.responsive {
  min-width: 95%;
  max-width: 100%;
  max-height: 90vh;
  /* for media queries... */
  /* max-width: 50rem; */
}

.hero {
  font-family: "Quadrat", serif;
  font-size: 3.5rem;
  color: white;
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

.home-panels {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}


.home-panel-1 {
  margin: auto;
  background-image: url("/images/NamJunePaik_TVGarden1974-1977_Courtesy-Kunstsammlung_Nordrhein-Westfalen_Dusseldorf.jpg")
}

.home-panel-2 {
  background-image: url("/images/Eliasson-Olafur_Seu-corpo-da-obra_MM20151-2560x1412.jpg");
}

.home-panel-3 {
  overflow-y: hidden;
  color: white;
  padding: 3rem;
  background-image: url("/images/TaubaAuerbach_ContemporaryArtDaily.jpg");
}

/* input[type="email"] {
  border-bottom: 1px solid black;
} */

input[type="password"], input[type="email"], input[type="text"] {
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
  min-width: 290px;
}

input[type="textarea"] {
  outline: none;
  border: none;
  line-height: 2;
  border-bottom: 1px solid #000;
  width: 600px;
  min-width: 290px;
  vertical-align: top;
}

input[type="submit"] {
  font-weight: 900;
  padding: 5px;
  background-color: #ccc;
  border: 0;
}

select {
  border-style: solid;
  border: 1px solid black;
}

.exhibition-container {
  display: inline-flex;
  flex-wrap: wrap;
}

aside {
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 300px;
}

button.removeArtwork {
  background-color:beige;
}

button.likeExhibition {
  font-size: 1rem;
  background-color:inherit;
  border: 0;
  font-family: inherit;
}

button.danger {
  position: relative;
  right: 0;
  color: white;
  font-weight: 900;
  border: 0px;
  margin-right: auto;
  padding: 5px;
  background-color: crimson;
}

button#cancelEdit {
  margin-left: 90%;
  font-weight: 900;
  border: 2px solid black;
  background-color: pink;
  padding: 5px;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: #ddd;
}

footer {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 2rem;
  bottom: 0;
  color: #fff;
  background-color: #271AC0;
}

footer p {
  font-size: .7rem;
  margin-left: 10px;
}

footer a {
  color: white
}

.exhibition-card {
  border: 3px solid black;
  background-color: black;
  color: white;
  max-width: 10rem;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  line-height: 1;
  margin: 20px;
  box-shadow: 10px 10px lavender;
}

.exhibition-card:hover {
  background-color: #271AC0;
  color: white;
}

.exhibition-poster {
  background-color: black;
  border: 3px solid black;
  min-width: 300px;
  min-height: 400px;
  padding: 20px;
  line-height: 2;
  text-align: center;
  margin: 20px;
}

.exhibition-poster h2, h4 {
  text-shadow: 
  -1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}

/* .exhibition-card:hover {
  background-color: lavender;
} */

.exhibition-card a {
  color: white;
  font-weight: 900;
}



/* MOBILE */

@media (max-width: 320px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav {
    position: fixed;
    height: 0px;
    width: 100vw;
  }

  /* .inner-nav {
     display: flex; 
  } */

  nav .nav-link {
      padding: 5px 10px;
      font-size: 0.7rem;
      line-height: 1;
      margin:  -1px auto;
    }

  .relationship {
    background-color: lightgreen;
    margin: 5px;
  }

  article {
    margin: 5rem auto;
    width: 600px;
    padding: 10px;
  }


  .home-panels {
    padding: 20px;
    overflow-x: hidden;
  }

  .home-panel-1, .home-panel-3 {
    width: 300px;
  }

  .centerForm {
    width: 300px;
  }

  input {
    max-width: 290px;
  }

  .artwork-card {
    max-width: 300px;
    margin: 10px;
  }

}
